<div id="wrapper">
                <nav id="navbar" class="navbar navbar-expand-lg navbar-light ">
                        <a id="header" class="navbar-brand" href="#">Mongo Scraper</a>
                        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button> -->
                        <div class="collapse navbar-collapse" id="navbarNav">
                          <ul class="navbar-nav">
                            <li class="nav-item active">
                              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="/saved">Save Articles</a>
                            </li>
                            <li class="nav-link">
                                <button id="scrapeButton" type="button" class="btn btn-primary" style="float: right;">Scrape</button>
                            </li>
                            <li class="nav-link">
                                <button id="clear" type="button" class="btn btn-primary" style="float: right;">Clear</button>
                            </li>
                          </ul>
                        </div>
                      </nav>
            <div id="articles"></div>
            <div id="notes"></div>
          </div>
      <script type="text/javascript" src="javscript/public.js"></script>